{% extends "base.html" %}
{% load static %} 



{% block title%}
My Blog
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/includes/post.css" %}"/>
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}


{% block content%}
    <section id = "welcome">
        <header>
            <img src="{%static "blog/images/afaq.jpg" %}" alt="Afaq - The Author of this Blog"/>
            <h2>Afaq's Blog</h2>
        </header>
        <p>Hi, I am Afaq and I love to Blog </p>
    </section>

    <section id = "latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            {% for post in posts%} 
                {% include "blog/includes/post.html"%}
            {% endfor %} 
        </ul>
    </section>

    <section id = "about">
        <h2>What I Do</h2>
        <p>I love being a programmer</p>
        <p>My goal is to build a software product</p>
    </section>
{% endblock %}