{% extends "base.html" %}
{% load static %} 



{% block title%}
My Blog
{% endblock %}

{% block css_files%}
    <link rel="stylesheet" href="{% static "blog/index.css" %}"/>
{% endblock %}


{% block content%}
    <header id="main-navigation">
        <h1>
            <a href="">Afaq's Blog</a>
        </h1>

        <nav>
            <a href="">All Posts</a>
        </nav>
    </header>

    <section id = "welcome">
        <header>
            <img src="" alt="Afaq - The Author of this Blog"/>
            <h2>Afaq's Blog</h2>
        </header>
        <p>Hi, I am Afaq and I love to Blog </p>
    </section>

    <section id = "latest-posts">
        <h2>My Latest Thoughts</h2>

        <ul>
            <li>
                <article class="post">
                    <a href="">
                        <img src="" alt="Mountain Hiking"/>
                        <div class="post_content">
                            <h3>Mountain Hiking</h3>
                            <p>There's nothing like the views u get hiking</p>
                        </div>
                    </a>
                </article>
            </li>
        </ul>
    </section>

    <section id = "about">
        <h2>What I Do</h2>
        <p>I love being a programmer</p>
        <p>My goal is to build a software product</p>
    </section>
{% endblock %}